@media (max-width: 1366px) {
  .about_section .detail-box .heading_container {
    margin-top: 20px;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 1125px) {
}

@media (max-width: 992px) {
  .first-text .side-heading {
    position: absolute;
    top: 40%;
    left: 91%;
  }
  .about_section {
    display: block;
  }
  .about_section .detail-box {
    margin-top: 30px;
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 95%;
  }
  .about_section .detail-box p {
    display: block;
    width: 100%;
  }
  .about_section .img-box {
    margin-top: 10px;
    display: block;
    width: 94%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .about_section h2 {
    width: 20%;
  }
  .dish-section {
    display: block;
  }
  .dish-section .dish_container {
    display: block;
    width: 100%;
  }
  .dish-section .dish_container .box-container {
    width: 97%;
    margin: 0 auto;
  }
  .dish-section .dish_container .box-container .box {
    margin-left: 4%;
  }
  .dish-section .detail-box {
    display: block;
    width: 95%;
    margin-left: 0;
    padding: 0;
    margin: 0 auto;
  }
  .dish-section .detail-box p {
    display: block;
    width: 95%;
  }
  .dish-section .detail-box .heading_container h2 {
    width: 35%;
    margin-left: 6%;
  }
  .dish-section .detail-box .heading_container hr {
    margin-left: 18%;
  }
  .map-section {
    display: block;
    margin-top: 20px;
    margin-bottom: 29%;
  }
  .map-section .detail-box {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .map-section .map-container {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  .map-section .detail-box p {
    padding-top: 3%;
    width: 100%;
  }
  .map-section .detail-box .heading_container h2 {
    margin-top: 25px;
  }

  /*Delivery section*/
  .delivery-section {
    display: block;
  }
  .delivery-section .detail-box {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .delivery-section .detail-box p {
    display: block;
    width: 100%;
  }
  .delivery-section .photo-container {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  .delivery-section .photo-container img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 821px) {
  .map-section {
    margin-bottom: 33%;
  }
  .first-text .side-heading {
    display: none;
  }
}
@media (max-width: 798px) {
}
@media (max-width: 769px) {
  .new-background {
    background: -webkit-linear-gradient(90deg, #148d24 100%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #148d24 100%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #148d24 100%, #ffffff 100%);
    background: linear-gradient(90deg, #148d24 100%, #ffffff 100%);
  }
  .custom_menu-btn span {
    background-color: #ffffff;
  }
  header::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #ffffff;
  }
  .side-heading {
    display: none;
  }
  .first-text .detail-box {
    padding-left: 20%;
    color: #ffffff;
  }
  .first-text .side-heading {
    top: 30%;
  }
  .first-text .detail-box h1 {
    width: 80%;
    text-align: center;
    margin-right: 85px;
  }
  .map-section {
    margin-bottom: 38%;
  }
}
@media (max-width: 671px) {
  .map-section {
    margin-bottom: 42%;
  }
}
@media (max-width: 649px) {
  .map-section {
    margin-bottom: 45%;
  }
}
@media (max-width: 621px) {
  .map-section {
    margin-bottom: 47%;
  }
}
@media (max-width: 577px) {
  .about_section h2 {
    width: 30%;
  }
  .map-section .detail-box .heading_container h2 {
    width: 50%;
  }
  .map-section {
    margin-bottom: 52%;
  }
  .delivery-section {
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  .dish-section .detail-box .heading_container h2 {
    width: 55%;
  }
  .dish-section .detail-box .heading_container hr {
    width: 30%;
    margin-left: 7%;
  }
  .map-section {
    margin-bottom: 60%;
  }
}
@media (max-width: 480px) {
  .map-section {
    margin-bottom: 78%;
  }
}

@media (max-width: 421px) {
  .first-text .detail-box p {
    text-align: center;
  }
  .about_section .heading_container hr {
    margin-left: 40px;
  }
  .dish-section .dish_container {
    display: block;
    width: 100%;
  }
  .dish-section .dish_container .box-container {
    width: 98%;
    padding-left: 8%;
  }
  .dish-section .dish_container .box-container .box {
    margin-left: 0;
  }
  .map-section .detail-box .heading_container h2 {
    width: 60%;
  }
  .map-section .detail-box .heading_container hr {
    width: 35%;
  }
  .map-section {
    margin-bottom: 80%;
  }
  .delivery-section .detail-box .heading_container h2 {
    width: 60%;
  }
  .delivery-section .detail-box .heading_container hr {
    width: 35%;
  }
  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact_section .work_container {
    width: 85%;
  }
  .contact_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .contact_box .img-box {
    margin-left: 40px;
  }
  .contact_box h6 {
    margin-right: 20px;
    text-align: center;
  }
  .contact_box h6:last-child {
    margin-left: -17px;
  }
  .contact_section h2 {
    width: 90%;
    margin: 0 auto;
  }
  .contact_section .work_container h3 {
    margin-top: 20px;
  }
}

@media (max-width: 394px) {
  .dish-section .dish_container .box-container {
    width: 98%;
    padding-left: 9%;
  }
  .map-section {
    margin-bottom: 85%;
  }
}
@media (max-width: 376px) {
  .map-section {
    margin-bottom: 90%;
  }
}
@media (max-width: 361px) {
  .map-section {
    margin-bottom: 95%;
  }
  .contact_box .img-box {
    margin-left: 30px;
  }
  .contact_box h6 {
    margin-right: 36px;
  }
  .contact_box h6:last-child {
    margin-left: -27px;
  }
}
@media (max-width: 334px) {
  .map-section {
    margin-bottom: 117%;
  }
  .delivery-section .detail-box .heading_container h2 {
    width: 70%;
  }
  .delivery-section .detail-box .heading_container hr {
    width: 25%;
  }
}
@media (max-width: 320px) {
  .map-section {
    margin-bottom: 124%;
  }
}
@media (max-width: 300px) {
  .map-section {
    margin-bottom: 134%;
  }
}
@media (max-width: 285px) {
  .dish-section .detail-box .heading_container h2 {
    width: 62%;
  }
  .dish-section .detail-box .heading_container hr {
    width: 25%;
    margin-left: 3%;
  }
  .map-section .detail-box .heading_container h2 {
    width: 65%;
  }
  .map-section {
    margin-bottom: 140%;
  }
  .map-section .detail-box .heading_container hr {
    width: 30%;
  }
  .delivery-section .detail-box .heading_container h2 {
    width: 80%;
  }
  .delivery-section .detail-box .heading_container hr {
    width: 15%;
  }
  .contact_box .img-box {
    margin-left: 25px;
  }
  .contact_box h6 {
    margin-right: 14px;
  }
  .contact_box h6:last-child {
    margin-left: -27px;
  }
}
@media (min-width: 1120px) {
  .first-text .side-heading {
    display: none;
  }
  .first-text .side-heading h5 {
    display: none;
  }
}
@media (min-width: 1139px) {
  .logo-navigation a img {
    height: 5vh;
  }
  #logo-text {
    font-size: 3rem;
  }
  .overlay a {
    font-size: 4rem;
  }
  .custom_menu-btn span {
    display: block;
    width: 60px;
    height: 8px;
    background-color: #262626;
    margin: 14px 0;
  }
  .first-text .detail-box h1 {
    text-transform: uppercase;
    font-family: "American Typewriter", sans-serif;
    font-size: 6.5rem;
  }
  .first-text .detail-box p {
    display: block;
    font-size: 2.2rem;
    width: 80%;
  }
  .about_section .detail-box p {
    font-size: 2.2rem;
  }
  .about_section .img-box img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .detail-box .heading_container h2 {
    font-size: 4rem;
  }

  .dish-section .detail-box p {
    font-size: 2.2rem;
  }
  .dish-section .detail-box a {
    width: 280px;
    font-size: 2rem;
    padding: 8px 35px;
    border: 2px solid #12a412;
    margin-top: 30px;
  }
  .map-section .detail-box {
    height: fit-content;
  }
  .map-section .detail-box p {
    font-size: 2.2rem;
  }
  .delivery-section .detail-box p {
    font-size: 2.2rem;
  }
  .delivery-section .photo-container img {
    width: 100%;
    height: 100%;
  }
  .contact_section h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .contact_section .work_container p {
    font-size: 2.2rem;
  }
  .contact_section .work_container h3 {
    font-size: 3rem;
  }
  .contact_section .contact_box h6 {
    font-size: 2.3rem;
  }
  .contact_section .contact_box .img-box {
    width: 95px;
    height: 95px;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .footer_section .social_container h4 {
    font-size: 3.5rem;
  }
  .footer_section p {
    font-size: 2.5rem;
  }
  .footer_section .social_container .social-box a img {
    height: 90px;
    width: 90px;
  }
}
@media (min-width: 2559px) {
  .logo-navigation a img {
    height: 5vh;
  }
  #logo-text {
    font-size: 3rem;
  }
  .custom_menu-btn span {
    display: block;
    width: 60px;
    height: 8px;
    background-color: #262626;
    margin: 14px 0;
  }
  .first-text .side-heading {
    display: none;
  }
  .first-text .detail-box h1 {
    text-transform: uppercase;
    font-family: "American Typewriter", sans-serif;
    font-size: 8.5rem;
  }
  .first-text .detail-box p {
    display: block;
    font-size: 3.2rem;
    width: 80%;
  }
  .detail-box .heading_container hr {
    height: 8px;
  }
  .first-text .detail-box .heading_container hr {
    margin-bottom: 72px;
  }
  .about_section .detail-box {
    display: inline-block;
    width: 49%;
    padding-left: 5%;
  }

  .about_section .detail-box p {
    font-size: 3.2rem;
  }
  .detail-box .heading_container h2 {
    font-size: 5rem;
  }
  .dish-section .detail-box .heading_container h2 {
    text-align: right;
    display: inline-block;
  }

  .dish-section .detail-box p {
    font-size: 3.2rem;
  }
  .dish-section .detail-box a {
    width: 280px;
    font-size: 2rem;
    padding: 8px 35px;
    border: 2px solid #12a412;
    margin-top: 30px;
  }
  .map-section .detail-box p {
    font-size: 3.2rem;
  }
  .delivery-section .detail-box p {
    font-size: 3.2rem;
  }
  .contact_section h2 {
    font-size: 5rem;
    margin-bottom: 40px;
  }
  .contact_section .work_container p {
    font-size: 3.2rem;
  }
  .contact_section .work_container h3 {
    font-size: 4rem;
  }
  .contact_section .contact_box h6 {
    font-size: 2.3rem;
  }
  .contact_section .contact_box .img-box {
    width: 95px;
    height: 95px;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .footer_section .social_container h4 {
    font-size: 3.5rem;
  }
  .footer_section p {
    font-size: 2.5rem;
  }
  .footer_section .social_container .social-box a img {
    height: 90px;
    width: 90px;
  }
}
