@font-face {
  font-family: American Typewriter;
  src: url(../fonts/AmericanTypewriterBQ-Bold.otf);
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  overflow-x: hidden;
}
.new-background {
  background: -webkit-linear-gradient(90deg, #148d24 30%, #ffffff 30%);
  background: -o-linear-gradient(90deg, #148d24 30%, #ffffff 30%);
  background: -moz-linear-gradient(90deg, #148d24 30%, #ffffff 30%);
  background: linear-gradient(90deg, #148d24 30%, #ffffff 30%);
}
.logo-navigation a {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  height: 10vh;
}

#logo-text {
  position: absolute;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  margin-left: 10px;
  margin-top: 4px;
}
section h2 {
  text-transform: uppercase;
  font-family: "American Typewriter", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}
/* Відступи від кнопки */
.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 18px;
  top: 14px;
}

/* Налаштування кнопки */
.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
}

/* Налаштування полосок на іконці гамбургера*/
.custom_menu-btn span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #262626;
  margin: 7px 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(38, 153, 41, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Налаштування навігаційного меню*/
.overlay a {
  margin: 25px;
  text-decoration: none;
  font-size: 27px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}
.overlay a:hover {
  color: #0c4313;
}

/* вирівнювання по центрі навігаційного меню, додання відступів*/
.overlay-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/* navigation menu width*/
.menu_width {
  width: 100%;
}
/* First section styling */
.first-text .side-heading {
  position: absolute;
  top: 37%;
  left: 92%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.first-text .side-heading h5 {
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  text-orientation: upright;
  font-family: "American Typewriter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.first-text .detail-box {
  padding-top: 12px;
  position: relative;
  padding-left: 40%;
}
.first-text .detail-box h1 {
  text-transform: uppercase;
  font-family: "American Typewriter", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}
.first-text .detail-box p {
  display: block;
  font-size: 1.2rem;
  padding-bottom: 20px;
  width: 80%;
}
/* About section styling*/
.about_section {
  display: flex;
  justify-content: center;
}
.about_section .detail-box {
  display: inline-block;
  width: 49%;
  padding-left: 5%;
}

.about_section .detail-box p {
  display: block;
  font-size: 1.2rem;
  padding-top: 15px;
  width: 90%;
}
.about_section .img-box {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.detail-box .heading_container h2 {
  display: inline-block;
  width: 30%;
}
.about_section .img-box img {
  display: block;
  width: 100%;
}
.detail-box .heading_container hr {
  display: inline-block;
  width: 40%;
  margin-bottom: 85px;
  height: 4px;
  opacity: 1;
  background-color: #12a412;
}
/* Dish section */
.dish-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.dish-section .dish_container {
  display: inline-block;
  width: 49%;
}
.dish-section .dish_container .box-container {
  width: 90%;
  margin: 0 auto;
}

.dish-section .dish_container .box {
  display: inline-block;
  width: 43%;
  margin: 10px;
  border: 10px solid #f8f8f8;
}
.dish-section .dish_container .box img {
  display: inline-block;
  width: 100%;
}
.dish-section .dish_container .box:hover {
  border: 10px solid #12a412;
}
.dish-section .detail-box {
  display: inline-block;
  text-align: center;
  width: 45%;
  margin-left: 4%;
  margin-top: 20px;
}
.dish-section .detail-box .heading_container {
  display: block;
  width: 95%;
}
.dish-section .detail-box .heading_container hr {
  margin-bottom: 50px;
}
.dish-section .detail-box .heading_container h2 {
  text-align: right;
  display: inline-block;
  width: 58%;
}

.dish-section .detail-box p {
  text-align: right;
  display: block;
  font-size: 1.2rem;
  padding-top: 15px;
  width: 95%;
}
.dish-section .detail-box a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 35px;
  background-color: #12a412;
  color: #ffffff;
  border: 1px solid #12a412;
  margin-top: 30px;
}

.dish-section .detail-box a:hover {
  background-color: transparent;
  color: #12a412;
}
/* Map section */
.map-section {
  margin-top: 5%;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.map-section .detail-box {
  display: inline-block;
  width: 49%;
  padding-left: 5%;
  text-align: left;
}
.map-section .detail-box .heading_container hr {
  margin-bottom: 50px;
}
.map-section .detail-box .heading_container h2 {
  display: inline-block;
  width: 50%;
}

.map-section .detail-box p {
  display: block;
  font-size: 1.2rem;
  padding-top: 5%;
  width: 90%;
}
.map-section .map-container {
  display: inline-block;
  width: 50%;
}
.map-section .map-container iframe {
  border: 3px solid #12a412;
}
#map {
  width: 100%;
  height: 50vh;
}
/*Delivery section*/
.delivery-section {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.delivery-section .detail-box {
  display: inline-block;
  width: 49%;
  padding-left: 5%;
  text-align: left;
}
.delivery-section .detail-box .heading_container hr {
  margin-bottom: 50px;
}
.delivery-section .detail-box .heading_container h2 {
  display: inline-block;
  width: 50%;
}

.delivery-section .detail-box p {
  display: block;
  font-size: 1.2rem;
  padding-top: 3%;
  width: 90%;
}
.delivery-section .photo-container {
  display: inline-block;
  width: 50%;
}
.delivery-section .photo-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/* Contact section*/
.contact_section {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.contact_section .center-div {
  display: flex;
  justify-content: center;
}
.contact_section h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.contact_section .work_container {
  display: inline-block;
  width: 49%;
  padding-left: 4%;
}
.contact_section .work_container h3 {
  text-transform: uppercase;
  font-family: "American Typewriter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.contact_section .work_container p {
  display: block;
  font-size: 1.2rem;
  padding-top: 3%;
}
.contact_section .contact_box {
  display: inline-block;
  width: 48%;
  padding-left: 10%;
}

.contact_section .work_container {
  text-align: left;
}
.contact_section .contact_box .img-box {
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 2px solid #363535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
}

.contact_section .contact_box .img-box img {
  width: 100%;
}

/* Footer section */
.footer_section {
  padding: 20px;
  background-color: #252525;
}

.footer_section .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0;
}

.footer_section .social_container h4 {
  color: #a9a6a6;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.footer_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.footer_section .social_container .social_box a {
  margin: 0 10px;
}

.footer_section .social_container .social_box a img {
  max-width: 100%;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.footer_section a {
  color: #ffffff;
  text-decoration: none;
}
/*Menu page styling*/
.logo-container a {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  height: 70px;
}
